.BranchLimitView {
  dt, dd {
    display: inline;
    padding: 0;
    margin: 0;
  }

  .overlimit {
    background-color: #f66;
    border-radius: 50%;
    color: #fff;
    font-weight: bold;
    padding: 0 0.4em;
  }

  .warning {
    color: #f66;
    font-weight: bold;
    padding: 1em 0;
  }
}
